<!DOCTYPE html>
<html lang="{localeLang}">
<head>
    <meta charset="UTF-8">
    <title>Reset your password</title>
</head>
<body>
    <p>Hello,</p>
    <p>We received a request to reset the password for your {siteName} account.</p>
    <p><a href="{resetUrl}">Reset your password</a></p>
    <p>This link expires in {expiresHours} hour(s). If you did not request a reset, you can ignore this email.</p>
    {#include email/_account-footer footerReason='You received this email because a password reset was requested for your account.' baseUrl=baseUrl /}
</body>
</html>
