{#if user.isAuthenticated}
	<button type="button" 
			class="btn-header" 
			data-hx-get="/write"
			hx-select="main"
			hx-target="main"
			hx-replace-url="/write"
			data-disable-pattern="^/write">
		<img src="/images/write.svg" />
		Escrever
	</button>
	<button type="button" 
			class="btn-header"
			hx-post="/write/publish"
			hx-include="#postForm"
			hx-target="main"
			data-disable-pattern="^(?!(\/write$|\/write\/draft\/\d+$)).*">
		Publicar
	</button>
	<button id="saveDraft" 
	        type="button" 
			class="btn-header"
			hx-post="/forms//write/draft"
			hx-include="#postForm"
			hx-target="#toast"
			hx-swap="innerHTML"
			data-disable-pattern="^(?!(\/write$|\/write\/draft\/\d+$)).*">
		Salvar Rascunho
	</button>
{/if}