<section class="featured">
    <div class="container">
        <div class="featured__grid{#if !post.coverUrl} featured__grid--no-cover{/if}">
            <div class="featured__content">
                <div class="featured__category" data-i18n="post.featured">Destaque</div>
                <h1 class="featured__title">
                    <a href="{post.url}"
                        data-hx-get="{post.url}"
                        hx-select="main"
                        hx-target="main"
                        hx-push-url="{post.url}">{post.liveTitle}</a>
                </h1>
                {#if post.renderedDescription}
                <div class="featured__excerpt">{post.renderedDescription.raw}</div>
                {/if}
                {#include components/post-tags post=post /}
                <div class="article-meta">
                    <a href="/{post.author.username}"
                        data-hx-get="/{post.author.username}"
                        hx-select="main"
                        hx-target="main"
                        hx-push-url="/{post.author.username}">
                        <span class="article-meta__author">{post.author.name}</span>
                    </a>
                    <span class="article-meta__dot">•</span>
                    <time datetime="{post.publishedAt}">{post.publishedAt.formatDate}</time>
                    <span class="article-meta__dot">•</span>
                    <span>{post.liveContent.readTime}</span>
                </div>
            </div>
            {#if post.coverUrl}
            <div class="featured__image">
                <img src="{post.cardCoverUrl}" alt="{post.liveTitle}" fetchpriority="high" decoding="async" width="560" height="315"/>
            </div>
            {/if}
        </div>
    </div>
</section>