<!DOCTYPE html>
<html>
    {#include components/head}
    contraponto
    {/include}
    <body hx-history-elt>
        {#include components/header /}
        <main>
            {#if !posts.isEmpty}
            {#let post = posts.data.get(0)}
                {#include HomeEndpoint/featured post=post}
            {/if}

            <div class="container">
                    <div class="posts-grid">
                        {#include HomeEndpoint/grid ignoreFirst=true}
                    </div>
                </article>
            </div>
        </main>

        {#include components/footer /}
                
    </body>
</html>