<!DOCTYPE html>
<html>
    {#include components/head rssAlternateUrl=siteRssFeedUrl rssAlternateTitle='Contraponto'}
    contraponto
    {/include}
    <body hx-history-elt>
        {#include components/header /}
        <main id="main-content">
            {#if !posts.isEmpty}
            {#let post = posts.data.get(0)}
                {#include HomeEndpoint/featured post=post /}
            {/if}

            <div class="container page-meta">
                {#include components/rss-feed-link feedUrl=siteRssFeedUrl /}
            </div>
            <div class="container">
                <div class="posts-grid">
                    {#include HomeEndpoint/grid ignoreFirst=true /}
                </div>
            </div>
        </main>
        {#include components/footer /}
    </body>
</html>
