<!DOCTYPE html>
<html>
    {#include components/head}
    Images - {blog.name} - contraponto
    {/include}
    <body hx-history-elt>
        {#include components/header /}
        <main class="pages-manage" id="main-content">
            <div class="container-narrow">
                {#include components/breadcrumb trail=breadcrumb /}
                <div class="pages-manage__header">
                    <div>
                        <h1 class="pages-manage__title">Images</h1>
                        <p class="pages-manage__subtitle">{blog.name}</p>
                    </div>
                    <a data-hx-get="/writing/images?blogId={blog.id}"
                       hx-select="main"
                       hx-target="main"
                       hx-swap="outerHTML"
                       hx-push-url="/writing/images?blogId={blog.id}"
                       class="btn btn--secondary"
                       data-nav>Back to Images</a>
                </div>

                {#include ImageControlEndpoint/image-list blog=blog images=images hubMode=false basePath='/blogs/{blog.id}/images' extraQuery='' fragmentTarget='' /}
            </div>
        </main>
        {#include components/footer /}
    </body>
</html>
