<article class="blog-directory-card">
    <a data-hx-get="{row.blog.url}"
       hx-select="main"
       hx-target="main"
       hx-push-url="{row.blog.url}"
       class="blog-directory-card__link">
        {#if row.blog.bannerUrl}
        <img src="{row.blog.bannerUrl}" alt="" class="blog-directory-card__banner"/>
        {#else}
        <div class="blog-directory-card__banner blog-directory-card__banner--placeholder" aria-hidden="true"></div>
        {/if}
        <div class="blog-directory-card__body">
            <h2 class="blog-directory-card__title">
                {#if row.blog.main}{row.blog.owner.name}{#else}{row.blog.name}{/if}
            </h2>
            <p class="blog-directory-card__author">
                <span data-i18n="directory.byAuthor">por </span>{row.blog.owner.name}
            </p>
            {#if row.excerpt}
            <p class="blog-directory-card__excerpt">{row.excerpt}</p>
            {/if}
            {#include components/profile-tag-list topTags=row.topTags /}
        </div>
    </a>
    <div class="blog-directory-card__footer">
        <p class="blog-directory-card__meta">
            <span>{row.postCount}</span>
            <span data-i18n="directory.postCountSuffix"> publicações</span>
        </p>
    </div>
</article>
