{#let sidebarSections = links.sections("SIDEBAR")}
{#if !sidebarSections.isEmpty}
<nav class="browse-sidebar-nav browse-sidebar-nav--rail">
    {#for section in sidebarSections}
    <div class="browse-sidebar-nav__section">
        {#if section.name}
        <h2 class="browse-sidebar-nav__section-title">{section.name}</h2>
        {/if}
        <ul class="browse-sidebar-nav__links">
            {#for link in section.itens}
            <li>
                <a data-hx-get="{link.href}"
                   hx-select="main"
                   hx-target="main"
                   hx-push-url="{link.href}"
                   class="browse-sidebar-nav__link">{link.title}</a>
            </li>
            {/for}
        </ul>
    </div>
    {/for}
</nav>
{/if}
