<div id="toast" class="toast" style="display: none;" role="status" aria-live="polite" aria-atomic="true">
    <div class="toast__content">
        <span id="toastMessage"></span>
    </div>
</div>
<footer class="site-footer">
    <div class="container">
        <div class="footer__grid">
            <div class="footer__logo">
                <a data-hx-get="/"
                   hx-select="main"
                   hx-target="main"
                   hx-push-url="/">
                    contraponto
                </a>
            </div>
            
            {#if links != null}
            <div class="footer__links">
                {#for section in links.sections("FOOTER")}
                <div class="footer__column">
                    <h4>{section.name}</h4>
                    {#for link in section.itens}
                        <a data-hx-get="{link.href}" 
                           hx-select="main" 
                           hx-target="main" 
                           hx-push-url="{link.href}" 
                           class="custom-page__link">
                            {link.title}
                        </a>
                    {/for}
                </div>
                {/for}
            </div>
            {/if}
        </div>
        <div class="footer__bottom">
            <p>&copy; {currentYear} contraponto. All rights reserved.</p>
        </div>
    </div>
</footer>