<header class="site-header">
    <div class="header-container">
        <div class="nav-left">
            <button class="icon-btn" aria-label="Menu" id="menuBtn">
                <img src="/images/sidebar.svg" />
            </button>
        </div>

        <div class="logo">
            <a data-hx-get="/"
               hx-select="main"
               hx-target="main"
               hx-replace-url="/">
                contraponto
            </a>
        </div>

        <div class="nav-right">
            <button class="icon-btn" 
                    aria-label="Search" 
                    id="searchBtn"
                    hx-get="/search/modal"
                    hx-target="#modal-container"
                    hx-swap="innerHTML">
                <img src="/images/search.svg" />
            </button>
            <div hx-get="/components/write-btn" hx-trigger="loggedIn from:body, loggedOut from:body">
                {#include WriteButtonEndpoint/writeBtn /}
            </div>
            <div id="menu-container" hx-get="/components/menu" hx-trigger="loggedIn from:body, loggedOut from:body">
                {#include MenuEndpoint/menu /}
            </div>
        </div>
    </div>
</header>