<head>
    <meta name="csrf-token" content="{{csrfToken}}">
    <link rel="stylesheet" href="/style/fonts.css"/>
    <link rel="stylesheet" href="/style/main.css"/>
    <link rel="stylesheet" href="/style/write.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.js" integrity="sha384-ezjq8118wdwdRMj+nX4bevEi+cDLTbhLAeFF688VK8tPDGeLUe0WoY2MZtSla72F" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
    <script src="/js/forms.js"></script>
    <script src="/js/authentication.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/write.js"></script>
    <script src="/js/image-upload.js"></script>
    <script src="/js/toast.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/java.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/yaml.min.js"></script>
    {#if user.isAuthenticated}
        <meta http-equiv="Set-Cookie" content="__session={user.sessionId}; path=/; Secure; SameSite=Strict">
    {/if}
    <title>
    {#insert}{/insert}
    </title>
</head>
<div id="modal-container"></div>