<header class="site-header">
    <div class="header-container">
        <div class="nav-left">
            <button class="icon-btn" aria-label="Menu" id="menuBtn">
                <img src="/images/sidebar.svg" />
            </button>
        </div>

        <div class="logo">
            <a data-hx-get="/"
               hx-select="main"
               hx-target="main"
               hx-replace-url="/">
                contraponto
            </a>
        </div>

        <div class="nav-right">
            <button class="icon-btn" aria-label="Search" id="searchBtn">
                <img src="/images/search.svg" />
            </button>
            {#insert}
            {/insert}
            {#if user.isAuthenticated}
                <button type="button" 
                        class="btn-header" 
                        data-hx-get="/write"
                        hx-select="main"
                        hx-target="main"
                        hx-replace-url="/write">
                    <img src="/images/write.svg" />
                    Write
                </button>
            {/if}
            <div id="menu-container" hx-get="/components/menu" hx-trigger="loggedIn from:body" >
                {#include MenuEndpoint/menu /}
            </div>
        </div>
    </div>
</header>