<!DOCTYPE html>
<html>
    {#include components/head}
    {pageTitle} - contraponto
    {/include}
    <body hx-history-elt>
        {#include components/header /}
        <main class="pages-manage hub-shell-page" id="main-content">
            <div class="container-narrow">
                {#include components/hub-shell hubTitle=hubTitle hubBasePath=hubBasePath breadcrumb=breadcrumb navGroups=navGroups singleSectionNav=singleSectionNav activeSlug=activeSlug panelContent=panelContent /}
            </div>
        </main>
        {#include components/footer /}
    </body>
</html>
