<!DOCTYPE html>
<html lang="{localeLang}">
    {#include components/head}
    {pageTitle} - contraponto
    {/include}
    <body>
        {#include components/header /}
        <main hx-history-elt class="pages-manage nav-hub-page" id="main-content">
            <div class="container-narrow">
                {#include components/navigation-hub title=title subtitle=subtitle breadcrumb=breadcrumb sections=sections /}
            </div>
        </main>
        {#include components/footer /}
    </body>
</html>
