<!DOCTYPE html>
<html>
    {#include components/head seo=seo /}
    <body hx-history-elt>
        {#include components/header /}
        <main class="custom-page article-page" id="main-content">
            <div class="container-narrow">
                {#include components/breadcrumb trail=breadcrumb /}
                <h1 class="article-page__title">{page.title}</h1>
                <div class="article-page__content custom-page__content">
                    {page.content.raw}   <!-- raw HTML -->
                </div>
            </div>
        </main>
        {#include components/footer /}
        {#include components/seo-oob seo=seo /}
    </body>
</html>