<!DOCTYPE html>
<html>
    {#include components/head}
    {author.name} - contraponto
    {/include}
    <body hx-history-elt>
        {#include components/header /}
        <main>
            <div class="container">
                <h1 class="user-blog__name">{author.name}</h1>
            </div>
            {#if !posts.isEmpty}
            {#let post = posts.data.get(0)}
                {#include UserBlogEndpoint/featured post=post username=author.username}
            {/if}

            <div class="container">
                    <div class="posts-grid">
                        {#include UserBlogEndpoint/grid ignoreFirst=true username=author.username}
                    </div>
                </article>
            </div>
        </main>

        {#include components/footer /}

    </body>
</html>