{#if posts.isFirstPage && posts.isEmpty}
<div class="user-blog__empty">
    No posts published yet
</div>
{/if}

{#for post in posts.data}
    {#if (ignoreFirst && post_index > 0) || !ignoreFirst}
    <article class="article-card">
        {#if post.cover}
        <div class="article-card__image">
            <a data-hx-get="{post.url}"
                hx-select="main"
                hx-target="main"
                hx-push-url="{post.url}">
                <img src="{post.coverUrl}" alt="{post.liveTitle}"/>
            </a>
        </div>
        {/if}
        <div class="article-card__content">
            <div class="article-card__category">Article</div>
            <h2 class="article-card__title">
                <a data-hx-get="{post.url}"
                    hx-select="main"
                    hx-target="main"
                    hx-push-url="{post.url}">{post.liveTitle}</a>
            </h2>
            <p class="article-card__excerpt">{post.description}</p>
            {#include components/post-tags post=post /}
            <div class="article-meta">
                <a data-hx-get="/{post.author.username}"
                    hx-select="main"
                    hx-target="main"
                    hx-push-url="/{post.author.username}">
                    <span class="article-meta__author">{post.author.name}</span>
                    </a>
                <span class="article-meta__dot">•</span>
                <time datetime="{post.publishedAt}">{post.publishedAt.formatDate}</time>
                <span class="article-meta__dot">•</span>
                <span>{post.liveContent.readTime}</span>
            </div>
        </div>
    </article>
    {/if}
{/for}
{#include components/load-more-posts page=posts hxGet='/{username}/components/grid' /}