<!DOCTYPE html>
<html>
    {#include components/head}
    {author.name} - contraponto
    {/include}
    <body hx-history-elt>
        {#include components/header /}
        <main id="main-content">
            <header class="user-blog-header container">
                <h1 class="user-blog__name">{author.name}</h1>
                {#include BlogAudienceComponentEndpoint/audienceControls audience=audience /}
            </header>
            {#if !posts.isEmpty}
            {#let post = posts.data.get(0)}
                {#include BlogEndpoint/featured post=post username=author.username /}
            {/if}

            <div class="container">
                <div class="posts-grid">
                    {#include BlogEndpoint/grid ignoreFirst=true username=author.username /}
                </div>
            </div>
        </main>

        {#include components/footer /}

    </body>
</html>
