<!DOCTYPE html>
<html>
    {#include components/head}
    {author.name} - contraponto
    {/include}
    <body hx-history-elt>
        {#include components/header /}
        <main id="main-content">
            <div class="container">
                {#include components/breadcrumb trail=breadcrumb /}
            </div>
            <header class="user-blog-header container">
                {#if mainBlog.bannerUrl}
                <img src="{mainBlog.bannerUrl}" alt="" class="user-blog-header__banner"/>
                {/if}
                <h1 class="user-blog__name">{#if mainBlog.main}{author.name}{#else}{mainBlog.name}{/if}</h1>
                {#if mainBlog.description}
                <div class="user-blog__bio">{mainBlog.renderedDescription.raw}</div>
                {/if}
                {#include BlogAudienceComponentEndpoint/audienceControls audience=audience /}
            </header>
            {#if !posts.isEmpty}
            {#let post = posts.data.get(0)}
                {#include BlogEndpoint/featured post=post username=author.username /}
            {/if}

            <div class="container">
                <div class="posts-grid">
                    {#include BlogEndpoint/grid ignoreFirst=true username=author.username blog=mainBlog /}
                </div>
            </div>
        </main>

        {#include components/footer /}

    </body>
</html>
