{#if posts.isFirstPage && posts.isEmpty}
<div class="user-blog__empty">
    <span data-i18n="grid.emptyTagPosts">Nenhuma publicação com esta tag ainda.</span>
</div>
{/if}

{#for post in posts.data}
    <article class="article-card">
        {#if post.cover}
        <div class="article-card__image">
            <a href="{post.url}"
                data-hx-get="{post.url}"
                hx-select="main"
                hx-target="main"
                hx-push-url="{post.url}">
                <img src="{post.coverUrl}" alt="{post.liveTitle}"/>
            </a>
        </div>
        {/if}
        <div class="article-card__content">
            <div class="article-card__category" data-i18n="grid.articleCategory">Artigo</div>
            <h2 class="article-card__title">
                <a href="{post.url}"
                    data-hx-get="{post.url}"
                    hx-select="main"
                    hx-target="main"
                    hx-push-url="{post.url}">{post.liveTitle}</a>
            </h2>
            {#if post.renderedDescription}
            <div class="article-card__excerpt">{post.renderedDescription.raw}</div>
            {/if}
            {#include components/post-tags post=post /}
            <div class="article-meta">
                <a href="/{post.author.username}"
                    data-hx-get="/{post.author.username}"
                    hx-select="main"
                    hx-target="main"
                    hx-push-url="/{post.author.username}">
                    <span class="article-meta__author">{post.author.name}</span>
                    </a>
                <span class="article-meta__dot">•</span>
                <time datetime="{post.publishedAt}">{post.publishedAt.formatDate}</time>
                <span class="article-meta__dot">•</span>
                <span>{post.liveContent.readTime}</span>
            </div>
        </div>
    </article>
{/for}
{#include components/load-more-posts page=posts hxGet=tagSlug.tagGridLoadMorePath /}
