<div class="form-group">
    <label for="blogName">Name</label>
    <input type="text"
           id="blogName"
           name="name"
           placeholder="Blog name..."
           value="{#if blog.isPresent}{blog.get().name}{/if}"
           required
           min-size="1"
           max-size="255"
           autocomplete="off"/>
    <div class="error-message required">Name is required.</div>
    <div class="error-message min-value">Name is required.</div>
    <div class="error-message max-value">Name must be no more than 255 characters.</div>
</div>

{#if blog.isEmpty || !blog.get().main}
<div class="form-group">
    <label for="blogSlug">Slug</label>
    <div class="pages-form__slug-hint">
        URL path: <code>/{username}/<em>your-slug</em></code>
    </div>
    <input type="text"
           id="blogSlug"
           name="slug"
           placeholder="url-friendly-identifier"
           value="{#if blog.isPresent}{blog.get().slug}{/if}"
           pattern="[a-zA-Z0-9][a-zA-Z0-9_-]*"
           required
           min-size="1"
           max-size="64"
           autocomplete="off"/>
    <div class="error-message required">Slug is required.</div>
    <div class="error-message min-value">Slug is required.</div>
    <div class="error-message max-value">Slug must be no more than 64 characters.</div>
    <div class="error-message pattern">Use only letters, numbers, hyphens and underscores.</div>
</div>
{#else}
<div class="form-group">
    <label>Slug</label>
    <input type="text" value="{blog.get().slug}" disabled>
    <input type="hidden" name="slug" value="{blog.get().slug}">
</div>
{/if}

<div class="form-group">
    <label data-i18n="blog.banner">Banner do blog</label>
    {#if blog.isPresent}
    {#if blog.get().banner}
    {#include components/image-upload-area label='Blog banner' areaId='blogBannerUpload' hiddenFieldId='bannerId' blogId=uploadBlogId initialUrl=blog.get().banner.url initialId=blog.get().banner.uuid /}
    {#else}
    {#include components/image-upload-area label='Blog banner' areaId='blogBannerUpload' hiddenFieldId='bannerId' blogId=uploadBlogId initialUrl='' initialId='' /}
    {/if}
    {#else}
    {#include components/image-upload-area label='Blog banner' areaId='blogBannerUpload' hiddenFieldId='bannerId' blogId=uploadBlogId initialUrl='' initialId='' /}
    {/if}
</div>
